<div class="container">
	<div>
		<div class="retweet" ng-if="isRT(tweet.retweeted_status)">
			<label class="textGrey"><img class="img_retweeted" src="./Img/retweeted.png"></img>{{tweet.retweeted_status.user.name}} retweeted</label>
		</div>
		<div class="tweet_details">
			<img class="photo picDetails" ng-src={{tweet.user.profile_image_url}}></img>
			<label class="textBold">{{tweet.user.name}}</label>
			<label class="textGrey textGreyDetails">@{{tweet.user.screen_name}}</label>
			<p class="textTweet_details" ng-bind-html="tweet.retweeted_status.text  | convertLinks"></p>			
			<div ng-if="!isRT(tweet.retweeted_status)">
				<p class="textTweet_details" ng-bind-html="tweet.text | convertLinks"></p>
			</div>
			<div class="date">{{ dateModify | date:'h:mm a - d MMM y'}}</div>
		</div>
		<div class="rt_fav">
			<label class="numBold">{{tweet.retweet_count}}</label><label class="date"> RETWEETS</label>
			<label class="numBold">{{tweet.favorite_count}}</label><label class="date"> FAVORITES</label>
		</div>
	</div>
</div>